<nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/">Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active"routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="active"routerLink="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/">Men's Clothing</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/">Women's Clothing</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/">Electronics</a>
          </div>
        </li>
        </ul>
    </div>
  </div>
</nav>
